
.main {
    display: flex;
    border: 2px solid var(--bg-color);
    border-radius: 15px;
    width: 7%;
    top: 30vh;
    -webkit-box-shadow: 3px 3px 19px 5px rgba(0,0,0,0.4); 
    box-shadow: 3px 3px 19px 5px rgba(0,0,0,0.4);
    flex-direction: column;
    height: 72vh;
    justify-content: space-around;
}

.devicon > img {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    border: 5px solid red;
}

.devicon {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    padding: 0.5vmin;
    margin: 1vmin;
}

