.oNas {
    display: flex;
    margin: 5vh;
}

.tekst {
    width: 93%; 
    height: 300px; 
    font-size: 150%;
}

.kontakt{
    font-weight: bold;
}
.cytat{
    font-size: 85%;
    margin: 5%;
    font-style: italic;
    text-align: left;
}