.foot {
    width: 100%;
    background-color: var(--primary-color);
    bottom: 0px;
    height: 5vh;
    text-align: center;
    padding-top: 1.5vh;
    color: white;
    display: flex;
    justify-content: space-around;
    color: var(--text-color);
    z-index: 2;

}