.main
{
    display: flex;
    justify-content: space-around;
    margin: 5vmin;
}
.virus
{
    position: relative;
    width: 30vw;
}

@media screen and (max-width:768px) {
    
    .main {
        z-index: 0;
    }
}

.pusty {
    width: 100%;
    height: 6vh;
    z-index:  100;
    margin-bottom: 12vh;
  }