.main {
    background-color: var(--primary-color);
    height: 10vh;
    display: flex;
    align-items: center;
}

.list {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.burger {
    margin: 10px;
    cursor: pointer;
    display: none;
}

.burger div{
    width: 45px;
    height: 5px;
    background-color: var(--text-color);
    margin: 5px;
    transition: transform 0.3s ease;
    border-radius: 10000000px;
}

@media screen and (max-width:768px) {
    
    .mainon > ul {
        position: absolute;
        left: 0px;
        height: 86vh;
        top: 5vh;
        background-color: var(--primary-color);
        justify-content: space-around;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        font-size: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        z-index: 1;
    }
    .list
    {
        display: none;
    }


    .burger {
        display: block;
    }
}
.logo
{
    height: 3vh;
    background-color: var(--text-color);
    padding: 5px;
    border-radius: 999999px;
}

.burgeron .line1 {
    transform: rotate(45deg) translate(8px, 6px);
}

.burgeron .line2 {
    opacity: 0;
}

.burgeron .line3 {
    transform: rotate(-45deg) translate(8px, -6px);
}