.main {
    background-color: var(--primary-color);
    height: 10vh;
    display: flex;
    align-items: center;
}

.list {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.burger {
    margin: 10px;
    cursor: pointer;
    display: block;
}

.burger div{
    width: 45px;
    height: 5px;
    background-color: var(--text-color);
    margin: 5px;
    transition: transform 0.3s ease;
    border-radius: 10000000px;
}

@media screen and (max-width:1024px) {
    .list {
        width: 65%;
    } 
}

@media screen and (max-width:768px) {
    
    .list {
        position: absolute;
        left: 0px;
        height: 96vh;
        top: 4vh;
        background-color: var(--primary-color);
        justify-content: space-around;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
    }
}
