.viruscontainer
{
    display: grid;
    place-items: center;
}
@keyframes virus-rotation
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.virus:active
{

}

.virus {
    animation: virus-rotation 10s linear infinite;
}