.viruscontainer
{
    display: grid;
    place-items: center;
}
@keyframes virus-rotation
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.virus:active
{

}

.virus {
    animation: virus-rotation 10s linear infinite;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}